# ansible inventory files
# inventory*
# hosts*

# Compiled binary addons
build/Release
build/
dist/
release-builds/

# dotenv environment variables file
.env

# local env files
.env.local
.env.*.local

# misc
tmp/
auth/

# Editor directories and files
.sublime-workspace
.atom
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.project
.classpath
.c9/
*.launch
.settings/
.kate-swp
